In [1]:
import pandas as pd

df = pd.read_pickle("../data/text/dataset.pkl")

In [2]:
df.shape

(196052, 5)

In [3]:
df.head()

,lang,title,summary,article_count,event_date
id,,,,,
e_11,eng,Bombing survivor and nurse to wed,A man seriously wounded in the Boston bombing ...,7,16057
e_10,eng,Trade Idea: GBP/USD - Sell at 1.6450,Although the British pound rallied to 1.6485 y...,221,16058
e_13,eng,Too cool for Yule? Have a hipster Christmas in...,"Unlike you, hipsters don't want any old Christ...",9,16059
e_12,eng,Opening Bell: Cues that will help you trade be...,"The Sensex plunged 210.03 points to 20,715.58 ...",1,16054
e_15,eng,On Colorado shooter's arm...,(CNN) -- Colorado shooter Karl Pierson had wri...,8,16057

In [4]:
# search for pkl files that start with batch_
import glob

pkl_files = sorted(glob.glob("../data/text/embeds/batch_*.pkl"))

In [5]:
df["title_embed"] = None
df["summary_embed"] = None

In [6]:
import pickle

for batch_file in pkl_files:
    with open(batch_file, "rb") as f:
        batch = pickle.load(f)

    for id in batch.keys():
        df.at[id, "title_embed"] = batch[id]["title_embed"]
        df.at[id, "summary_embed"] = batch[id]["summary_embed"]

In [7]:
# find all rows with None values and drop them
df = df.dropna()

In [8]:
df.head()

,lang,title,summary,article_count,event_date,title_embed,summary_embed
id,,,,,,,
e_11,eng,Bombing survivor and nurse to wed,A man seriously wounded in the Boston bombing ...,7,16057,"[[0.47470707, -0.08501352, 0.26899937, -0.3635...","[[0.3377615, -0.26158097, 0.3140225, -0.212071..."
e_10,eng,Trade Idea: GBP/USD - Sell at 1.6450,Although the British pound rallied to 1.6485 y...,221,16058,"[[0.17094071, -0.18888026, 0.28712985, -0.3610...","[[0.1786896, -0.11662727, 0.19326286, -0.20948..."
e_13,eng,Too cool for Yule? Have a hipster Christmas in...,"Unlike you, hipsters don't want any old Christ...",9,16059,"[[0.2537402, -0.032281302, 0.37904784, -0.3181...","[[0.026874868, -0.09318099, 0.03552014, -0.026..."
e_12,eng,Opening Bell: Cues that will help you trade be...,"The Sensex plunged 210.03 points to 20,715.58 ...",1,16054,"[[0.23880291, 0.03649398, 0.32137018, -0.17099...","[[0.46094257, -0.36103615, 0.31917268, -0.6018..."
e_15,eng,On Colorado shooter's arm...,(CNN) -- Colorado shooter Karl Pierson had wri...,8,16057,"[[0.3985864, -0.06734807, 0.40732777, -0.46121...","[[0.5053371, -0.062929116, 0.27972195, -0.4317..."

In [9]:
for i, row in df.iterrows():
    df.at[i, "title_embed"] = row["title_embed"].flatten()
    df.at[i, "summary_embed"] = row["summary_embed"].flatten()

In [10]:
df.to_pickle("../data/text/data_with_embeds.pkl")

In [13]:
# get unique languages and their counts (in percent)
df["lang"].value_counts(normalize=True)

lang
eng    0.383823
spa    0.314989
deu    0.207862
zho    0.093326
Name: proportion, dtype: float64

In [14]:
# calculate the average article_count by language
df.groupby("lang")["article_count"].mean()

lang
deu     8.816079
eng    20.265839
spa     8.985457
zho     8.310033
Name: article_count, dtype: object

In [15]:
# drop title and summary
df = df.drop(["title", "summary"], axis=1)

In [16]:
# one-hot encode the language column
# df = pd.get_dummies(df, columns=["lang"])

In [17]:
df.head()

,lang,article_count,event_date,title_embed,summary_embed
id,,,,,
e_11,eng,7,16057,"[0.47470707, -0.08501352, 0.26899937, -0.36353...","[0.3377615, -0.26158097, 0.3140225, -0.2120716..."
e_10,eng,221,16058,"[0.17094071, -0.18888026, 0.28712985, -0.36104...","[0.1786896, -0.11662727, 0.19326286, -0.20948,..."
e_13,eng,9,16059,"[0.2537402, -0.032281302, 0.37904784, -0.31818...","[0.026874868, -0.09318099, 0.03552014, -0.0260..."
e_12,eng,1,16054,"[0.23880291, 0.03649398, 0.32137018, -0.170995...","[0.46094257, -0.36103615, 0.31917268, -0.60180..."
e_15,eng,8,16057,"[0.3985864, -0.06734807, 0.40732777, -0.461210...","[0.5053371, -0.062929116, 0.27972195, -0.43177..."

In [18]:
# save the dataframe as a pickle file
df.to_pickle("../data/text/dataset_embedded.pkl")

In [19]:
df = df.drop(["lang", "article_count", "event_date"], axis=1)

In [21]:
df.to_pickle("../data/text/llm_embeddings.pkl")